.product-page {
    max-width: 1250px;
    display: flex;
    align-items: start;
    gap: 30px;
    margin: auto;
    padding: 60px 0 120px 0;
    min-height: calc(100vh - 375px);
}

.container-product-list {
    width: 100%;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 40px;
}

.section-products-home {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin: 120px auto;
}

.section-products-home h2 {
    width: 100%;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 10px;
}

@media (max-width: 1280px) {
    .product-page {
        padding: 60px 20px 120px;
    }
}

@media (max-width: 850px) {
    .product-page {
        flex-direction: column;
    }
}

@media (max-width: 520px) {
    .product-list {
        justify-content: space-between;
        gap: 5px;
    }
}