.form-new-address {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-new-address h4 {
    margin-bottom: 10px;
}

.div-street {
    display: flex;
    gap:  10px;
}

.div-street input {
    width: 100%;
}

.div-street .input-address {
    width: 100%;
}

.input-address {
    position: relative;
}

.input-address .container-options-list {
    left: 0;
}