.register {
    min-height: calc(100vh - 375px);
    width: 100%;
    max-width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 120px 20px;
}

.register h3 {
    font-weight: 400;
    text-align: center;
}

.register form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: relative;
}

.register form div label {
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 10px 0 10px 5px;
    font-size: 14px;
}

.client-type>p {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.client-type div {
    height: 16px;
    width: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.client-type-message {
    position: absolute;
    top: 0;
    left: 20px;
    opacity: 0;
    padding: 10px;
    background: #000000cb;
    color: #fff;
    border-radius: 10px;
    width: max-content;
    max-width: 260px;
    pointer-events: none;
    font-size: 14px;
}

.client-type div:hover .client-type-message {
    opacity: 1;
    pointer-events: all;
}

@media (max-width: 670px) {
    
    .client-type-message {
        max-width: 360px;
        top: 20px;
        left: -115px;
    }
}

@media (max-width: 410px) {

    .client-type-message {
        top: 20px;
        left: -115px;
        max-width: calc(100vw - 40px);
    }
}