.section-confirm-order {
    display: flex;
    align-items: start;
    gap: 20px;
}

.section-confirm-order h3 {
    font-weight: 400;
    font-size: 18px;
}

.confirm-order-info {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    max-width: 800px;
    min-width: 400px;
}

.price-for-delivery {
    display: flex;
    justify-content: space-between;
}

.address-for-order {
    position: relative;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    padding: 10px;
    margin-top: 5px;
    background: #fff;
}

.order-address-selected {
    display: flex;
    align-items: center;
    gap: 10px;
}

.address-for-order p:nth-child(2) {
    font-size: 15px;
    color: #555555;
}

.order-address-selected .btn-change-address {
    font-size: 14px;
}

.btn-change-address {
    font-size: 16px;
    color: #1872fa;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 3px;
}

.btn-change-address:hover {
    text-decoration: underline;
}

.delivery-radio-group {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.send-option>div {
    background: #f5f5f5;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.send-option label {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    margin-bottom: 10px;
    font-weight: 500;
    text-wrap: pretty;
}

.send-option>p {
    margin-bottom: 5px;
}

.send-option>p span {
    color: #f11;
    margin-right: 5px;
}

.order-comment {
    position: relative;
}

.order-comment span {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.order-comment textarea {
    min-width: 100%;
    max-width: 100%;
    min-height: 150px;
    max-height: 150px;
    font-size: 16px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    outline: none;
    margin-top: 10px;
}

.confirm-order {
    position: sticky;
    top: 150px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 20px;
    max-width: 430px;
    width: 100%;
}

.check-message {
    display: block;
    margin: 10px 0;
    color: rgb(221, 18, 18);
    text-wrap: pretty;
}

.confirm-order-price p {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}

.confirm-order-price p span {
    font-weight: 500;
}

.confirm-order-price {
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

@media (max-width:1000px) {

    .section-confirm-order {
        flex-wrap: wrap;
    }

    .confirm-order-info {
        display: flex;
        flex-direction: column;
        gap: 40px;
        width: 100%;
        max-width: 100%;
        min-width: 100%;
    }

    .confirm-order {
        max-width: 100%;
    }
}