.section-profile {
    display: flex;
    align-items: start;
    gap: 20px;
}

.section-profile aside {
    width: 100%;
    max-width: 300px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.section-profile aside>div {
    padding: 20px;
}

.section-profile aside nav {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    border-top: 1px solid #ccc;
}

.section-profile aside nav a {
    padding: 10px 20px;
}

.section-profile aside nav a:hover {
    background: #f5f5f5;
}

.client-data {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.client-data h2 {
    font-weight: 400;
}

.client-data>div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.client-data h4 {
    font-weight: 500;
}

.verified-email {
    display: flex;
    align-items: start;
    flex-direction: column;
    max-width: 610px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    gap: 10px;
}

.verified-email>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
}

.update-email { 
    width: 400px;
}

.update-email div {
    display: flex;
    gap: 10px;
}

.update-email {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: stretch;
}

.update-email .message-error {
    text-align: start;
}

.phone-number {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

.phone-number .message-error {
    width: max-content;
}

.phone-number form .btn {
    margin: 10px 10px 0 0;
}

@media (max-width: 800px) {
    .section-profile aside {
        display: none;
    }

    .verified-email {
        max-width: 100%;
    }
}