header {
    border-bottom: 1px solid #ccc;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 20px 10px 20px;
}

.header-container {
    display: flex;
    flex-direction: column;
    max-width: 1250px;
    width: 100%;
    gap: 20px;
}

.header-container>div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.btns-header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    object-fit: contain;
    height: 40px;
}

.btn-order {
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    position: relative;
    background: #eee;
}

.btn-order span {
    font-size: 10px;
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -30%;
    background: var(--color-primary);
    padding: 3px 5px;
    border-radius: 10px;
}

@media (max-width:500px) {
    .logo img {
        height: 35px;
    }

    .btns-header {
        gap: 5px;
    }

    .btns-header .btn {
        font-size: 14px;
        padding: 10px 15px;
    }
}