.nav-bar {
    max-width: 100%;
    overflow: auto;
}

.nav-bar ul {
    min-width: 700px;
    display: flex;
    align-items: center;
}

.nav-bar ul li a {
    text-wrap: none;
    display: inline-block;
    padding: 10px 15px;
    border-radius: 10px;
}

.nav-bar ul li a.active {
    color: var(--color-primary);
    background: var(--color-primary-100);
}