.search {
    display: flex;
    position: relative;
    height: 45px;
    flex-grow: 0;
}

.search .input {
    width: 350px;
    border-radius: 0 10px 10px 0;
    padding: 0 15px 0 3px;
    border-left: none;
}

.search label {
    border-radius: 10px 0 0 10px;
    height: 100%;
    width: 45px;
    background: none;
    outline: none;
    border: 1px solid #eee;
    border-right: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (max-width:1000px) {
    .search {
        order: 3;
        width: 100%;
    }

    .search .input {
        width: 100%;
    }
}