.filters h1 {
    margin-bottom: 20px;
}

.filters div {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 30px;
    margin-bottom: 5px;
}

.filters div a {
    font-size: 14px;
    padding: 5px 10px;
    height: 30px;
}

.filters div p {
    font-weight: 600;
}

.filters ul {
    width: 270px;
}

.filters ul li {
    margin-bottom: 3px;
}

.filters ul li a {
    display: block;
    transition: .1s;
}

.filters ul li a:hover {
    transform: translateX(5px);
}

.subcategorySelected {
    color: var(--color-primary);
}


@media (max-width: 850px) {
    .filters {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        position: relative;
    }

    .filters div {
        margin-bottom: 0;
        justify-content: start;
        flex-direction: column;
        align-items: end;
    }

    .filters h1 {
        margin-bottom: 0;
        text-wrap: nowrap;
    }

    .filters ul {
        position: absolute;
        width: 100%;
        top: 40px;
        left: 0;
        z-index: 100;
        padding: 10px;
        background: #fff;
        border: 1px solid #ccc;
        box-shadow: 0 5px 20px #00000010;
    }

    .filters ul li {
        padding: 7px 10px;
    }
}