.not-orders {
    text-align: center;
    padding: 50px;
    border-radius: 10px;
    border: 1px solid #ccc;
    max-width: 500px;
    margin: auto;
    margin-bottom: 30px;
    font-size: 18px;
}

.not-orders+.btn {
    display: flex;
    width: max-content;
    margin: auto;
}

.orders-list {
    width: 100%;
    margin-top: 20px;
}

.orders-list li a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid #ccc;
}

.orders-list li a div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.orders-list li a:hover {
    background: #eee;
    border-radius: 10px;
}

.orders-list p:last-child {
    text-align: end;
}

.status-completed {
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 30px;
    background: #66b81920;
    color: #66b819;
    display: flex;
    gap: 5px;
    width: max-content;
}

.status-preparation {
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 30px;
    background: #1872fa20;
    color: #1872fa;
    display: flex;
    gap: 5px;
    width: max-content;
}

.status-pending {
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 30px;
    background: #ff880020;
    color: #ff8800;
    display: flex;
    gap: 5px;
    width: max-content;
}

.status-rejected {
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 30px;
    background: #b8191920;
    color: #b81919;
    display: flex;
    gap: 5px;
    width: max-content;
}

.status-cancelled {
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 30px;
    background: #eee;
    color: #000;
    display: flex;
    gap: 5px;
    width: max-content;
}

@media (max-width: 1220px) {}