.not-orders {
    text-align: center;
    padding: 50px;
    border-radius: 10px;
    border: 1px solid #ccc;
    max-width: 500px;
    margin: auto;
    margin-bottom: 30px;
    font-size: 18px;
}

.not-orders+.btn {
    display: flex;
    width: max-content;
    margin: auto;
}

.orders-list {
    width: 100%;
    margin-top: 20px;
}

.orders-list li a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid #ccc;
}

.orders-list li a:hover {
    background: #eee;
    border-radius: 10px;
}

.orders-list p:last-child {
    text-align: end;
}

.orders-page .order-confirmed {
    flex-direction: row-reverse;
    align-items: start;
    gap: 30px;
}

.orders-page .order-details {
    position: sticky;
    top: 150px;
}

.btn-view-products {
    margin: 40px 0;
}

.container-order-product-table {
    width: 100%;
    overflow-x: auto;
    border-right: 1px solid #ccc;
    padding-right: 30px;
}

.order-product-table {
    width: 100%;
    min-width: 600px;
}

.order-product-table th {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    text-align: end;
}

.order-product-table th:first-child {
    text-align: center;
}

.order-product-table th:nth-child(2) {
    text-align: start;
}

.order-product td {
    border-bottom: 1px solid #ccc;
    margin-bottom: 5px;
    padding: 5px 0;
    text-align: end;
}

.order-product td:first-child {
    text-align: center;
    padding: 5px 10px 5px 0;
}

.order-product td a {
    display: flex;
    align-items: center;
    gap: 10px;
}

.order-product td a:hover {
    text-decoration: underline;
}

.product-image {
    object-fit: contain;
    height: 60px;
    width: 60px;
}

.order-product td .discount {
    justify-content: end;
}

.orders-list li a div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.status-completed {
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 30px;
    background: #66b81920;
    color: #66b819;
    display: flex;
    gap: 5px;
    width: max-content;
}

.status-preparation {
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 30px;
    background: #1872fa20;
    color: #1872fa;
    display: flex;
    gap: 5px;
    width: max-content;
}

.status-pending {
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 30px;
    background: #ff880020;
    color: #ff8800;
    display: flex;
    gap: 5px;
    width: max-content;
}

.status-rejected {
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 30px;
    background: #b8191920;
    color: #b81919;
    display: flex;
    gap: 5px;
    width: max-content;
}

.status-cancelled {
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 30px;
    background: #eee;
    color: #000;
    display: flex;
    gap: 5px;
    width: max-content;
}


@media (max-width: 1220px) {
    .orders-page .order-confirmed {
        flex-direction: column;
        align-items: start;
        gap: 60px;
    }

    .orders-page .order-details {
        position: relative;
        top: 0;
        width: 100%;
        max-width: none;
    }    

    .container-order-product-table {
        border-right: none;
        padding-right: 0;
    }
}