.shopping-cart-not-user,
.shopping-cart-empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 10px;
    padding: 60px 20px;
    border: 1px solid #ccc;
    min-height: calc(100vh - 375px);
}

.shopping-cart-not-user p,
.shopping-cart-empty h2 {
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 20px;
    text-align: center;
    text-wrap: pretty;
}

.shopping-cart-empty p {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
    text-wrap: pretty;
}

.shopping-cart-page {
    max-width: 1250px;
    display: flex;
    gap: 20px;
    align-items: start;
    min-height: calc(100vh - 375px);
}

.shopping-cart-page>div {
    width: 100%;
}

.shopping-cart-page h1 {
    font-weight: 400;
    margin-bottom: 30px;
    font-size: 20px;
}

.cart-product {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding: 15px 10px;
}

.cart-product:last-child {
    border: none;
}

.cart-product a {
    display: flex;
    align-items: center;
    gap: 20px;
    min-width: 350px;
    max-width: 350px;
}

.cart-product a img {
    width: 80px;
    height: 80px;
    object-fit: contain;
}

.cart-product a:hover {
    text-decoration: underline;
}

.cart-product form {
    position: relative;
    max-width: 150px;
    width: 150px;
}

.cart-product form div {
    display: flex;
    gap: 5px;
    position: relative;
}

.cart-product form div input {
    width: 95px;
}

.cart-product form div .btn span {
    position: absolute;
    top: calc(100% + 10px);
    right: 0;
    color: #fff;
    background: #00000099;
    pointer-events: none;
    padding: 5px 10px;
    border-radius: 5px;
    opacity: 0;
    transition: .2s;
    z-index: 100;
}

.cart-product form div .btn:hover span {
    opacity: 1;
}

.cart-product-price,
.cart-product-discount {
    min-width: 150px;
}

.cart-product-discount div span {
    color: #66b819;
    font-size: 14px;
}

.cart-product-discount div p {
    display: inline;
    color: #9b9b9b;
    font-size: 14px;
    text-decoration: line-through;
}

.cart-product-discount>p,
.cart-product-price>p {
    font-size: 18px;
}

.cart-product .btn span {
    color: var(--color-error);
}

@media (max-width: 1280px) {
    .shopping-cart-page {
        flex-direction: column;
    }
}

@media (max-width: 850px) {

    .cart-product {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #ccc;
        padding: 15px 0;
        position: relative;
    }

    .cart-product a {
        display: flex;
        align-items: center;
        gap: 20px;
        min-width: 90%;
        max-width: 90%;
    }

    .cart-product form {
        order: 3;
    }

    .cart-product-price,
    .cart-product-discount {
        order: 4;
        min-width: min-content;
        text-align: end;
    }

    .cart-product>div .btn {
        position: absolute;
        top: 30px;
        right: 0;
    }
}